
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  background: url('field.jpeg') center fixed no-repeat;
  background-size: 100% 100%;
}

.dog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  margin: 1%;
}

button:hover {
  cursor: pointer;
}

button {
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
}

.form {
display: flex;
justify-content: space-evenly;
margin-bottom: 3%;
margin: 2%;
text-align-last: center;
}

.form-input {
  margin: 2%;
}

/* .dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

} */

.card-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  margin-bottom: 2%;
  background-color: rgb(82, 79, 79);
  border-radius: 20%;
  width: 32%;
}

.dog-pic {
  height: 70%;
  width: 70%;
  margin-top: 2%;
  cursor: pointer;
}